 .e_ContentMajorStyleBox-001 {
     width: 100%;
     height: auto;
     width-uint: %;
 }

 .e_ContentMajorStyleBox-001 .stylebox_link {
     color: #666666;
     font-size: 14px;
     height: inherit;
     display: table;
     padding: 0 15px;
     border-width: 0px;
     float: right;
     vertical-align: middle;
     margin-right: 15px;
 }

 .e_ContentMajorStyleBox-001 .stylebox_top {
     width: auto;
     height: 40px;
     background-color: rgba(101, 190, 186, 1);
 }

 .e_ContentMajorStyleBox-001 .title_icon {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     margin-right: 10px;
     font-size: medium;
 }

 .e_ContentMajorStyleBox-001 .title_icon::before {
     content: "";
 }

 .e_ContentMajorStyleBox-001 .title_main {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-weight: normal;
     font-size: 16px;
     max-width: 600px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .e_ContentMajorStyleBox-001 .title_sub {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-size: 14px;
     font-weight: normal;
     margin-left: 10px;
 }

 .e_ContentMajorStyleBox-001 .stylebox_title {
     display: inline-block;
     width: auto;
     height: inherit;
     background-color: rgba(101, 190, 186, 1);
     padding-left: 15px;
     padding-right: 15px;
     font-size: 0;
     vertical-align: bottom;
     white-space: nowrap;
     padding-right: 22px;
     vertical-align: top;
 }

 .e_ContentMajorStyleBox-001 .stylebox_link a {
     color: inherit;
     display: table-cell;
     vertical-align: middle;
 }

 .e_ContentMajorStyleBox-001 .link_icon {
     display: inline-block;
     margin-left: 5px;
 }

 .e_ContentMajorStyleBox-001 .link_icon::before {
     content: '\e6af';
 }

 .e_ContentMajorStyleBox-001 .stylebox_top_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_ContentMajorStyleBox-001 .stylebox_content {
     border-style: solid;
     border-width: 1px;
     border-color: #f0f0f0;
     width: 100%;
     width-uint: %;
 }

 .e_ContentMajorStyleBox-001 .stylebox_bottom_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_FlowCommonStyleBox-001 {
     width: 100%;
     height: auto;
     width-uint: %;
 }

 .e_FlowCommonStyleBox-001 .stylebox_link {
     color: #666666;
     font-size: 14px;
     display: table;
     height: inherit;
     border-width: 0;
     float: right;
     vertical-align: middle;
     margin-right: 15px;
 }

 .e_FlowCommonStyleBox-001 .stylebox_link:hover {
     color: rgba(101, 190, 186, 1);
 }

 .e_FlowCommonStyleBox-001 .stylebox_link:active {
     color: rgba(101, 190, 186, 1);
 }

 .e_FlowCommonStyleBox-001 .stylebox_top {
     width: auto;
     height: 40px;
     background-color: #1890FF;
 }

 .e_FlowCommonStyleBox-001 .title_icon {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     margin-right: 10px;
     font-size: medium;
 }

 .e_FlowCommonStyleBox-001 .title_icon::before {
     content: "";
 }

 .e_FlowCommonStyleBox-001 .title_main {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-weight: normal;
     font-size: 16px;
     max-width: 600px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .e_FlowCommonStyleBox-001 .title_sub {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-size: 14px;
     font-weight: normal;
     margin-left: 10px;
 }

 .e_FlowCommonStyleBox-001 .stylebox_title {
     display: inline-block;
     width: auto;
     height: inherit;
     background-color: #1890FF;
     padding-left: 15px;
     padding-right: 15px;
     font-size: 0;
     vertical-align: bottom;
     white-space: nowrap;
 }

 .e_FlowCommonStyleBox-001 .stylebox_link a {
     color: inherit;
     display: table-cell;
     vertical-align: middle;
 }

 .e_FlowCommonStyleBox-001 .link_icon {
     display: inline-block;
     margin-left: 5px;
 }

 .e_FlowCommonStyleBox-001 .link_icon::before {
     content: '\e6af';
 }

 .e_FlowCommonStyleBox-001 .stylebox_top_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_FlowCommonStyleBox-001 .stylebox_content {
     border-style: solid;
     border-width: 1px;
     border-color: #f0f0f0;
     width: 100%;
     width-uint: %;
 }

 .e_FlowCommonStyleBox-001 .stylebox_bottom_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_IndexOrdinaryStyleBox-001 {
     width: 100%;
     height: auto;
     width-uint: %;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_top {
     background-color: transparent;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link {
     color: #666666;
     font-size: 14px;
     display: table;
     height: inherit;
     border-width: 0;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link:hover {
     color: rgba(101, 190, 186, 1);
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link:active {
     color: rgba(101, 190, 186, 1);
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_top {
     width: auto;
     height: 40px;
 }

 .e_IndexOrdinaryStyleBox-001 .title_icon {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     margin-right: 10px;
     font-size: medium;
 }

 .e_IndexOrdinaryStyleBox-001 .title_icon::before {
     content: "";
 }

 .e_IndexOrdinaryStyleBox-001 .title_main {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-weight: normal;
     font-size: 16px;
     max-width: 600px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .e_IndexOrdinaryStyleBox-001 .title_sub {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-size: 14px;
     font-weight: normal;
     margin-left: 10px;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_title {
     display: inline-block;
     width: auto;
     height: inherit;
     background-color: rgba(101, 190, 186, 1);
     padding-left: 15px;
     padding-right: 15px;
     font-size: 0;
     vertical-align: bottom;
     white-space: nowrap;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link {
     float: right;
     vertical-align: middle;
     margin-right: 15px;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link a {
     color: inherit;
     display: table-cell;
     vertical-align: middle;
 }

 .e_IndexOrdinaryStyleBox-001 .link_icon {
     display: inline-block;
     margin-left: 5px;
 }

 .e_IndexOrdinaryStyleBox-001 .link_icon::before {
     content: '\e6af';
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_top_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_content {
     border-style: solid;
     border-width: 1px;
     border-color: #f0f0f0;
     width: 100%;
     height: calc(100% - 48px);
     width-uint: %;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_bottom_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .w_fimgbox-001 {
     width: 100%;
     height: auto;
     min-height: 200px;
     margin: 0 auto;
 }

 .w_fimgbox-001 .w_imgbox {
     width: 100%;
     height: 100%;
     position: relative;
     min-height: inherit;
 }

 .w_fimgbox-001 .w_imgbox>img {
     width: 100%;
     height: auto;
 }

 .w_fimgbox-001 .w_imgbox>.p_contentbox {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
 }

 .w_fimg-000 .p_title {
     display: inline-table;
     margin: 0;
     min-width: 37px;
     padding: 0;
     color: rgba(51, 51, 51, 1);
     font-size: 16px;
     font-weight: 400;
     cursor: pointer;
 }

 .w_fimg-000 .p_title .font {
     vertical-align: middle;
     line-height: 21px;
 }

 .w_fimg-000 .p_title:hover {
     color: rgba(87, 177, 173, 1);
 }

 .w_fimg-000 .p_title:active {
     color: rgba(69, 165, 161, 1);
 }

 .w_fimg-000 .p_title .iconfont:before {
     display: inline-block;
     content: "";
 }

 .w_fimg-000 {
     position: relative;
     width: 100%;
     height: auto;
     min-height: 200px;
 }

 .w_fimg-000 .animated {
     width: 100%;
     height: 100%;
     position: relative;
     min-height: inherit;
 }

 .w_fimg-000 .font {
     white-space: nowrap;
 }

 .w_fimg-000 .p_link001 {
     width: 100%;
     height: 100%;
 }

 .w_fimg-000 .p_link002 {
     width: 100%;
     height: 30px;
 }

 .w_fimg-000 .p_box {
     width: 100%;
     height: 100%;
     text-align: center;
     position: static;
 }

 .w_fimg-000 .p_dimage {
     height: inherit;
     overflow: hidden;
     font-size: 0;
 }

 .w_fimg-000 .e_image:hover:after {
     background: transparent;
 }

 .w_fimg-000 .p_dimage:empty {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     background: #f2f2f2 url(/img/camera.png?tenantId=199931&viewType=1&v=1612235685000) no-repeat center;
 }

 .e_FlowCommonStyleBox-001 .stylebox_top {
     width: auto;
     height: 60px !important;
     background-color: #0a459e !important;
 }

 .e_FlowCommonStyleBox-001 .stylebox_title {
     background-color: #0a459e !important;
     line-height: 60px !important;
     height: 60px !important;
 }

 .e_FlowCommonStyleBox-001 .title_main {
     font-size: 20px !important;
 }

 .e_FlowCommonStyleBox-001 .stylebox_bottom_line {
     display: none !important;
 }

 .e_FlowCommonStyleBox-001 .stylebox_top_line {
     display: none !important;
 }

 @media only screen and (max-width: 768px) {
     .c_portalResIntro_category-01001 {
         height: auto;
         width: 280px;
         overflow: visible;
         max-width: 1180px;
         min-height: 192px;
         margin-left: 0;
         margin-right: 0;
     }
     .c_portalResIntro_category-01001 .p_image {
         width: 30px;
         height: 30px;
         display: inline-block;
         vertical-align: middle;
         margin-right: 5px;
         margin-top: 6px;
     }
     .c_portalResIntro_category-01001 .p_image>img {
         width: 100%;
         height: 100%;
     }
 }

 @media only screen and (min-width: 769px) {
     .c_portalResIntro_category-01001 .p_btn-show,
     .c_portalResIntro_category-01001 .p_btn-hide {
         display: none;
     }
     .c_portalResIntro_category-01001 {
         height: auto;
         width: 280px;
         overflow: visible;
         max-width: 1180px;
         min-height: 192px;
         margin-left: 0;
         margin-right: 0;
     }
     .c_portalResIntro_category-01001 .p_category {
         height: 100%;
         width: 100%;
         position: relative;
     }
     .c_portalResIntro_category-01001 .p_categoryBox {
         line-height: 24px;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .p_linkBox:hover {
         background: none;
     }
     .p_categoryBox .p_linkBox.click {
         color: #0a459e;
         background: none;
     }
     .p_categoryBox .p_linkBox.click a {
         color: #0a459e;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .p_linkBox:hover .p_title {
         color: #0a459e;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .p_linkBox {
         width: 100%;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -moz-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         padding: 10px;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .p_title {
         height: auto;
         width: auto;
         -webkit-flex: 1;
         -moz-flex: 1;
         -ms-flex: 1;
         flex: 1;
         display: block;
         -moz-box-flex: 1;
         -webkit-box-flex: 1;
         box-flex: 1;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }
     .c_portalResIntro_category-01001 .p_categoryBtn {
         display: inline-block;
         vertical-align: middle;
         background-color: rgba(255, 255, 255, 0);
         border-color: rgba(255, 255, 255, 0);
         border-style: solid;
         border-width: 0;
         height: auto;
         width: 30px;
         padding: 0;
         position: static;
         text-align: center;
     }
     .c_portalResIntro_category-01001 .p_linkBox .iconfont:before {
         content: '';
     }
     .c_portalResIntro_category-01001 .p_linkBox .icon-arrow_up:before {
         content: '\e6c9';
     }
     .c_portalResIntro_category-01001 .p_linkBox .icon-arrow_down:before {
         content: '\e6c8';
     }
     .mouse_bac:hover .p_categoryBtn {
         color: #60a9d7;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .p_childBox {}
     .c_portalResIntro_category-01001 .p_categoryBox .p_parentBox {
         position: relative;
         border-bottom: 1px solid #e8e8e8;
         padding-left: 20px;
         background-color: #f7f8fb;
         height: 55px;
         line-height: 55px;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .p_parentBox .p_parentBox {
         padding-left: 18px;
     }
     .c_portalResIntro_category-01001 .p_parentBox:last-child .p_linkBox {
         border-bottom: 0 none;
     }
     .c_portalResIntro_category-01001 .p_categoryBox .slideOut {
         position: absolute;
         left: 100%;
         top: 0;
         width: 100%;
         height: auto;
     }
     .c_portalResIntro_category-01001 .p_image {
         width: 30px;
         height: 30px;
         display: inline-block;
         vertical-align: middle;
         margin-right: 5px;
         display: none;
     }
     .c_portalResIntro_category-01001 .p_image>img {
         width: 100%;
         height: 100%;
     }
 }

 @media only screen and (min-width: 769px) and (max-width: 1024px) {}

 .cateListBox.li1:before {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     background: rgba(231, 31, 25);
     background: #0a2e4e\9;
     filter: alpha(opacity=80);
     position: absolute;
     left: 0;
     top: 0;
     -webkit-transition: -webkit-transform .38s cubic-bezier(.4, 0, .2, 1);
     transition: -webkit-transform .38s cubic-bezier(.4, 0, .2, 1);
     transition: transform .38s cubic-bezier(.4, 0, .2, 1);
     transition: transform .38s cubic-bezier(.4, 0, .2, 1), -webkit-transform .38s cubic-bezier(.4, 0, .2, 1);
     transform-origin: left 100%;
     -webkit-transform-origin: left 100%;
     transform: scaleY(0);
     -moz-transform: scaleY(0);
     -webkit-transform: scaleY(0);
     visibility: hidden\9;
 }

 .cateListBox.li1:hover:before {
     transform: scaleY(1);
     -webkit-transform: scaleY(1);
     transform-origin: left 0;
     -webkit-transform-origin: left 0;
     visibility: visible\9;
 }

 .w_grid-000 {
     margin-left: auto;
     margin-right: auto;
     min-height: 12rem;
     width: 100%;
 }

 .w_grid-000>.w_grid {
     width: 100%;
     position: relative;
 }

 .w_grid-000>div>.p_gridbox {
     width: 100%;
     overflow: hidden;
     position: static;
 }

 .w_grid-000>div>div>.p_gridCell {
     float: left;
     position: static;
 }

 .w_grid-000>div>div>.p_gridCell:not(:empty):before {
     content: '';
     height: 0.1px;
     display: block;
 }

 .w_grid-000>.w_grid.signal {
     min-height: inherit;
 }

 .w_grid-000>.w_grid.signal>.p_gridbox {
     min-height: inherit;
 }

 .w_grid-000>.w_grid.signal>.p_gridbox>.p_gridCell {
     min-height: inherit;
 }

 .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
     margin-left: 0;
     clear: left;
 }

 #w_grid-000>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0;
     clear: left;
 }

 @media only screen and (max-width: 768px) {
     .w_grid-000>div>.p_gridbox>.p_gridCell {
         width: 100%;
         margin-left: 0;
         margin-top: 0rem;
         margin-bottom: 0rem;
     }
 }

 @media only screen and (min-width: 769px) {
     .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
         width: 100%;
         margin-left: 0;
         margin-top: 0rem;
         margin-bottom: 0rem;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width:768px) {
     .c_portalResProduct_list-01001008 {
         overflow: hidden;
         width: 100%;
         height: auto;
         min-width: 640px;
         margin-left: 0;
         margin-right: 0;
     }
     .c_portalResProduct_list-01001008 .p_ProductList {
         margin: 0;
         width: auto;
         height: auto;
         padding: 0;
         overflow: hidden;
         background-color: transparent;
         white-space: normal;
         font-size: 0;
     }
     .c_portalResProduct_list-01001008 .p_categorySummaryBox {
         padding: 15px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.09);
     }
     .c_portalResProduct_list-01001008 .p_categorySummary {
         color: rgba(0, 0, 0, 0.45);
         font-size: 14px;
         line-height: 22px;
         text-align: left;
         vertical-align: top;
         word-break: break-all;
     }
     .c_portalResProduct_list-01001008 .p_sort {
         margin: 0;
         width: auto;
         height: auto;
         padding: 0 15px;
         overflow: hidden;
         font-size: 16px;
         display: -webkit-box;
         display: -moz-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         border-bottom: 10px solid #F5F5F5;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn {
         -webkit-flex: 1.5;
         flex: 1.5;
         -webkit-box-flex: 1.5;
         -moz-box-flex: 1.5;
         -ms-flex: 1.5;
         display: block;
         position: relative;
         width: 100%;
         line-height: 40px;
         text-align: center;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn:hover,
     .c_portalResProduct_list-01001008 .d_sortBtn:active {
         border-color: #1890FF;
         color: #1890FF;
         z-index: 2;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn.active {
         border-color: #1890FF;
         color: #1890FF;
         z-index: 2;
     }
     .c_portalResProduct_list-01001008 .p_default {
         -webkit-flex: 1;
         flex: 1;
         -webkit-box-flex: 1;
         -moz-box-flex: 1;
         -ms-flex: 1;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn:lang(active) {
         border-color: #1890FF;
         color: #1890FF;
         z-index: 2;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .iconfont:first-child {
         display: none;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .iconfont {
         display: inline-block;
         font-size: 12px;
         width: 0;
         height: 0;
         margin: 5px 0 0 3px;
         font: 0/0 arial;
         vertical-align: middle;
         border: 5px dashed transparent;
         border-top: 5px solid rgba(0, 0, 0, 0.45);
         text-align: center;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .iconfont:before {
         content: "\e69a";
         line-height: 30px;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn:lang(active) .font .iconfont,
     .c_portalResProduct_list-01001008 .d_sortBtn:hover .font .iconfont,
     .c_portalResProduct_list-01001008 .d_sortBtn:active .font .iconfont {
         color: #1890FF;
         border-top-color: #1890FF;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .down-arrow {
         margin-top: 0;
         border-top: 0 none;
         border-bottom: 5px solid rgba(0, 0, 0, 0.45);
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .arrow:before {
         content: "\e69c";
     }
     .c_portalResProduct_list-01001008 .p_default .font .iconfont {
         display: none;
     }
     .c_portalResProduct_list-01001008 .p_products {
         width: auto;
         height: auto;
         margin: 0;
         padding: 0;
         overflow: hidden;
         white-space: normal;
     }
     .c_portalResProduct_list-01001008 .p_Product {
         position: relative;
         display: inline-block;
         vertical-align: top;
         width: calc((100% - 0px)/4);
         padding: 15px 15px 0;
         height: inherit;
     }
     .c_portalResProduct_list-01001008 .p_ProductInner {
         width: 100%;
         padding: 0 0 15px;
         border-top: 0 none;
         border-left: 0 none;
         border-right: 0 none;
         box-sizing: content-box;
         display: -webkit-box;
         display: -moz-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
     }
     .c_portalResProduct_list-01001008 .p_Product:last-of-type .p_ProductInner {
         border: 0 none;
     }
     .c_portalResProduct_list-01001008 .p_images {
         position: relative;
         width: 100%;
         height: auto;
         margin: 0;
         padding: 0;
         text-align: center;
         font-size: 0;
         overflow: hidden;
         webkit-flex: 1;
         flex: 1;
         -webkit-box-flex: 1;
         -moz-box-flex: 1;
         -ms-flex: 1;
     }
     .c_portalResProduct_list-01001008 .p_image {
         width: 100%;
         height: 100%;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .p_imagesPc {
         display: none;
     }
     .c_portalResProduct_list-01001008 .p_linkB {
         width: inherit;
         height: inherit;
         display: block;
         position: static;
     }
     .c_portalResProduct_list-01001008 .p_image {
         width: 100%;
         height: 100%;
         padding: 0;
     }
     .c_portalResProduct_list-01001008 .p_ThumbnailBox {
         display: none;
     }
     .c_portalResProduct_list-01001008 .d_articles {
         height: auto;
         width: auto;
         padding: 0 0 0 15px;
         margin: 0;
         overflow: hidden;
         -webkit-flex: 2.4;
         flex: 2.4;
         -webkit-box-flex: 2.4;
         -moz-box-flex: 2.4;
         -ms-flex: 2.4;
     }
     .c_portalResProduct_list-01001008 .d_HeadBox {
         margin: 0;
         width: auto;
         height: auto;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .d_title {
         display: block;
         width: auto;
         height: auto;
         margin: 0;
         padding: 0;
         font-weight: 400;
         cursor: pointer;
         line-height: 22px;
         vertical-align: middle;
     }
     .c_portalResProduct_list-01001008 .p_TagBox {
         position: absolute;
         top: 0;
         right: 0;
         margin: 0;
         width: auto;
         height: auto;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
         display: none;
     }
     .c_portalResProduct_list-01001008 .p_tag {
         float: left;
         margin: 0 5px 0 5px;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: transparent;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .p_tag:hover {
         border-width: 1px;
         border-style: none;
         border-color: transparent;
     }
     .c_portalResProduct_list-01001008 .p_tag:active {
         border-width: 1px;
         border-style: none;
         border-color: transparent;
     }
     .c_portalResProduct_list-01001008 .d_item {
         width: auto;
         height: auto;
         margin: 5px 0;
         padding: 0;
         vertical-align: middle;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .d_item .d_itemLable {
         display: inline-block;
         vertical-align: middle;
         margin: 0 5px 0 0;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .d_item .d_itemValue {
         display: inline-block;
         vertical-align: middle;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .p_salePricePc,
     .c_portalResProduct_list-01001008 .p_NomBoxPc {
         display: none;
     }
     .c_portalResProduct_list-01001008 .d_SummaryBox {
         margin: 5px 0;
         width: auto;
         height: auto;
         padding: 0;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .d_summary {
         color: #999;
         font-size: 12px;
         line-height: 20px;
         text-align: left;
         vertical-align: top;
         word-break: break-all;
     }
     .c_portalResProduct_list-01001008 .d_SalePrice {
         display: inline-table;
         margin: 0;
         padding: 0;
         text-align: left;
         vertical-align: middle;
     }
     .c_portalResProduct_list-01001008 .p_priceUnit::before {
         content: "\e6d7";
     }
     .c_portalResProduct_list-01001008 .p_interaction {
         margin: 0;
         width: auto;
         height: auto;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
         word-break: break-all;
         white-space: normal;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .p_interaction .btn-default {
         display: inline-block;
         margin: 5px 0 0;
     }
     .c_portalResProduct_list-01001008 .p_keyword {
         display: inline-block;
         padding-right: 5px;
         white-space: nowrap;
         overflow: hidden;
         vertical-align: middle;
     }
 }

 @media only screen and (min-width:769px) {
     .c_portalResProduct_list-01001008 {
         overflow: hidden;
         width: 100%;
         height: auto;
         margin-left: 0;
         margin-right: 0;
     }
     .c_portalResProduct_list-01001008 .p_ProductList {
         width: auto;
         height: auto;
         overflow: hidden;
         white-space: normal;
         font-size: 0;
         padding: 20px 25px;
     }
     .c_portalResProduct_list-01001008 .p_categorySummaryBox {
         padding: 0 0 20px;
         margin: 0 0 30px;
         border-bottom: 1px solid rgba(0, 0, 0, 0.09);
     }
     .c_portalResProduct_list-01001008 .p_categorySummary {
         color: rgba(0, 0, 0, 0.45);
         font-size: 14px;
         line-height: 22px;
         text-align: left;
         vertical-align: top;
         word-break: break-all;
     }
     .c_portalResProduct_list-01001008 .p_sort {
         margin: 0 0 10px;
         width: auto;
         height: auto;
         padding: 0 0 0 1px;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
         clear: both;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn {
         position: relative;
         float: left;
         height: 30px;
         margin: 0 0 0 -1px;
         line-height: 30px;
         text-align: left;
         padding-left: 15px;
         padding-right: 30px;
         background-color: rgba(255, 255, 255, 1);
         border-width: 1px;
         border-style: solid;
         border-color: #D9D9D9;
         cursor: pointer;
         color: rgba(0, 0, 0, 0.65);
     }
     .c_portalResProduct_list-01001008 .d_sortBtn:hover,
     .c_portalResProduct_list-01001008 .d_sortBtn:active {
         border-color: #1890FF;
         color: #1890FF;
         z-index: 2;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn.active {
         border-color: #1890FF;
         color: #1890FF;
         z-index: 2;
     }
     .c_portalResProduct_list-01001008 .p_default {
         padding-right: 15px;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn:lang(active) {
         border-color: #1890FF;
         color: #1890FF;
         z-index: 2;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .iconfont:first-child {
         display: none;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .iconfont {
         display: inline-block;
         position: absolute;
         top: 0;
         right: 8px;
         font-size: 12px;
         color: rgba(0, 0, 0, 0.65);
         text-align: center;
         transform: rotate(180deg);
         -ms-transform: rotate(180deg);
         -moz-transform: rotate(180deg);
         -webkit-transform: rotate(180deg);
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .iconfont:before {
         content: "\e69a";
         line-height: 30px;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn:lang(active) .font .iconfont,
     .c_portalResProduct_list-01001008 .d_sortBtn:hover .font .iconfont,
     .c_portalResProduct_list-01001008 .d_sortBtn:active .font .iconfont {
         color: #1890FF;
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .arrow {
         transform: rotate(180deg);
         -ms-transform: rotate(180deg);
         -moz-transform: rotate(180deg);
         -webkit-transform: rotate(180deg);
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .down-arrow {
         transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         -webkit-transform: rotate(0deg);
     }
     .c_portalResProduct_list-01001008 .d_sortBtn .font .arrow:before {
         content: "\e69a";
     }
     .c_portalResProduct_list-01001008 .p_default .iconfont.arrow {
         display: none;
     }
     .c_portalResProduct_list-01001008 .p_products {
         width: auto;
         height: auto;
         margin: 0;
         padding: 0;
         overflow: hidden;
         white-space: normal;
     }
     .c_portalResProduct_list-01001008 .p_Product {
         position: relative;
         display: inline-block;
         vertical-align: top;
         width: calc((100% - 0px)/3);
         padding: 10px;
         height: inherit;
     }
     .c_portalResProduct_list-01001008 .p_ProductInner {
         width: 100%;
         padding: 0 0 5px;
         box-sizing: content-box;
     }
     .c_portalResProduct_list-01001008 .p_ProductInner:hover {
         border-width: 3px;
         border-color: #1890FF;
         margin: -2px;
     }
     .c_portalResProduct_list-01001008 .p_images {
         position: relative;
         width: 100%;
         height: 188px;
         margin: 0;
         padding: 0;
         text-align: center;
         font-size: 0;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .p_imagesMo {
         display: none;
     }
     .c_portalResProduct_list-01001008 .p_linkB {
         width: inherit;
         height: inherit;
         display: block;
         position: static;
     }
     .c_portalResProduct_list-01001008 .p_image {
         width: 100%;
         height: 100%;
         padding: 0;
     }
     .c_portalResProduct_list-01001008 .p_ThumbnailBox {
         position: absolute;
         left: 0;
         bottom: 1px;
         z-index: 10;
         width: 236px;
         height: auto;
         padding: 0;
         overflow: hidden;
         height: auto;
     }
     .c_portalResProduct_list-01001008 .p_ThumbnailBox .p_thumbnail {
         position: relative;
         width: 42px;
         height: 34px;
         float: left;
         margin: 0 2px;
         max-width: 42px;
         max-height: 34px;
         overflow: hidden;
         border: 2px solid rgba(0, 0, 0, .45)
     }
     .c_portalResProduct_list-01001008 .p_ThumbnailBox .p_thumbnail:hover {
         border-color: rgba(255, 255, 255, .7)
     }
     .c_portalResProduct_list-01001008 .d_articles {
         height: auto;
         width: auto;
         padding: 0 0 0 15px;
         margin: 0;
         overflow: hidden;
         -webkit-flex: 2.4;
         flex: 2.4;
         -webkit-box-flex: 2.4;
         -moz-box-flex: 2.4;
         -ms-flex: 2.4;
     }
     .c_portalResProduct_list-01001008 .d_HeadBox {
         margin: 5px 0 0;
         width: auto;
         height: auto;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .d_title {
         display: block;
         width: auto;
         height: auto;
         margin: 0;
         padding: 0;
         font-weight: 400;
         cursor: pointer;
         line-height: 22px;
         vertical-align: middle;
     }
     .c_portalResProduct_list-01001008 .p_TagBox {
         position: absolute;
         top: 0;
         right: 0;
         margin: 0;
         width: auto;
         height: auto;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .p_tag {
         float: left;
         margin: 0 5px 0 5px;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: transparent;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .p_tag:hover {
         border-width: 1px;
         border-style: none;
         border-color: transparent;
     }
     .c_portalResProduct_list-01001008 .p_tag:active {
         border-width: 1px;
         border-style: none;
         border-color: transparent;
     }
     .c_portalResProduct_list-01001008 .d_item {
         width: auto;
         height: auto;
         margin: 5px 0;
         padding: 0;
         vertical-align: middle;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .d_item .d_itemLable {
         display: inline-block;
         vertical-align: middle;
         margin: 0 5px 0 0;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .d_item .d_itemValue {
         display: inline-block;
         vertical-align: middle;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .p_salePriceMo,
     .c_portalResProduct_list-01001008 .p_NomBoxMo {
         display: none;
     }
     .c_portalResProduct_list-01001008 .d_SummaryBox {
         margin: 5px 0;
         width: auto;
         height: auto;
         padding: 0;
         overflow: hidden;
     }
     .c_portalResProduct_list-01001008 .d_summary {
         line-height: 20px;
         text-align: left;
         vertical-align: top;
         word-break: break-all;
     }
     .c_portalResProduct_list-01001008 .d_SalePrice {
         display: inline-table;
         margin: 0;
         padding: 0;
         text-align: left;
         vertical-align: middle;
     }
     .c_portalResProduct_list-01001008 .p_priceUnit::before {
         content: "\e6d7";
     }
     .c_portalResProduct_list-01001008 .p_interaction {
         margin: 0;
         width: auto;
         height: auto;
         padding: 0;
         border-width: 1px;
         border-style: none;
         border-color: rgba(228, 228, 228, 0);
         background-color: transparent;
         overflow: hidden;
         word-break: break-all;
         white-space: normal;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .p_interaction .btn-default {
         display: inline-block;
         margin: 5px 0 0;
     }
     .c_portalResProduct_list-01001008 .p_keyword {
         display: inline-block;
         padding-right: 5px;
         white-space: nowrap;
         overflow: hidden;
         vertical-align: middle;
     }
 }

 @media only screen and (min-width:769px) and (max-width: 1024px) {}

 .c_portalResProduct_list-01001008 .p_CommonSummaryBoxA {
     text-align: center;
 }

 .c_portalResProduct_list-01001008 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 .c_portalResProduct_list-01001008>div {
     animation-fill-mode: both;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 {
     width: 100%;
     transition: 0.3s ease 0s;
     font-size: 14px;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 ul {
     font-size: 0px;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 li:nth-child(4n+1) {
     margin-left: 0px;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 li {
     font-size: 16px;
     transition: 0.3s ease 0s;
     margin-bottom: 2.5%;
     width: 23%;
     margin-left: 2.6%;
     background: #fff;
     border: 1px solid #dedede;
     padding: 10px;
     display: inline-block;
     vertical-align: top;
     box-sizing: border-box;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 li a {
     font-size: 0px;
     overflow: hidden;
     text-align: center;
     background: #f6f6f6;
     width: 100%;
     margin: 0 auto;
     height: 12vw;
     display: block;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 li a:before {
     content: '';
     display: inline-block;
     vertical-align: middle;
     height: 100%;
     width: 0px;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 img {
     display: inline-block;
     vertical-align: middle;
     transition: 0.5s linear 0s;
     width: auto;
     height: auto;
     max-height: 100%;
     max-width: 100%;
     margin-left: 0px;
     transform: scale(1);
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 h4 {
     display: none;
 }

 .c_portalResProduct_list-01001008 .PhotoList_k1 li span {
     color: #666;
     white-space: nowrap;
     transition: 0.3s ease 0s;
     display: block;
     width: 100%;
     text-align: center;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 16px;
     padding: 3% 10px;
     box-sizing: border-box;
     border: none;
 }

 @media screen and (min-width: 769px) {
     .c_portalResProduct_list-01001008 .PhotoList_k1 li:hover img {
         transform: scale(1.1);
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li:hover span {
         color: #0c64b3;
         background: #ffffff;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li {
         width: 23%;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li:nth-child(4n+1) {
         margin-left: 0px;
     }
 }

 @media screen and (max-width: 1100px) {
     .c_portalResProduct_list-01001008 .PhotoList_k1 li a {
         height: 13.2vw;
     }
 }

 @media screen and (max-width: 768px) {
     .c_portalResProduct_list-01001008 .PhotoList_k1 {
         padding: 0px;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li {
         width: 48%;
         margin-bottom: 5%;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li a {
         height: 27vw;
         padding: 0;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li span {
         padding: 2vw;
         font-size: 14px;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li:nth-child(2n+1) {
         margin-left: 0%;
     }
     .c_portalResProduct_list-01001008 .PhotoList_k1 li:nth-child(2n+0) {
         margin-left: 4%;
     }
 }

 @media screen and (max-width: 1500px) {
     .c_portalResProduct_list-01001008 .PhotoList_k1 li span {
         font-size: 14px;
     }
 }

 .c_portalResProduct_list-01001008 .p_page .pre .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 .c_portalResProduct_list-01001008 .p_page .next .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 .c_portalResProduct_list-01001008 .p_more .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 .c_portalResProduct_list-01001008 .p_loading .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 .c_portalResProduct_list-01001008 .stylebox_top {
     height: auto;
 }

 .c_portalResProduct_list-01001008 .title_sub {
     position: relative;
     color: #1c3079;
     font-size: 28px;
     margin-left: 0px;
     padding-left: 15px;
 }

 .c_portalResProduct_list-01001008 .title_sub:before {
     content: '';
     position: absolute;
     left: 0px;
     top: 8px;
     height: 24px;
     width: 2px;
     background: #1c3079;
     z-index: 1;
 }

 .c_portalResProduct_list-01001008 .title_main {
     font-size: 30px;
     color: #eaa317;
 }

 .c_portalResProduct_list-01001008 .stylebox_content {
     padding-top: 30px;
 }

 @CHARSET "UTF-8";
 * {
     padding: 0;
     margin: 0;
 }

 .pagebox {
     width: 100%;
 }

 .pagebox,
 #-remove--flag {}

 body,
 #-remove--flag {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 #c_portalResIntro_category-15893484168462789 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #c_portalResIntro_category-15893484168462789>div {
     animation-fill-mode: both;
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 {
     text-transform: capitalize;
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 ul {
     text-align: left;
     display: block;
     font-size: 0px;
     background: #f6f6f6;
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 a {
     position: relative;
     font-size: 15px;
     height: 80px;
     line-height: 80px;
     padding: 0px 30px;
     color: #333;
     display: block;
     transition: 0.3s ease 0s;
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 .more:after {
     content: "";
     position: absolute;
     width: 1px;
     height: 15px;
     display: block;
     background: #ccc;
     top: 50%;
     margin-top: -7px;
     right: 0px;
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 a:before {
     position: absolute;
     content: '';
     left: 50%;
     bottom: 0px;
     width: 0%;
     height: 3px;
     background-color: none;
     transition: all .3s;
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 a:hover:before {
     width: 80%;
     left: 10%;
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
 }

 #c_portalResIntro_category-15893484168462789 .NavList_a1 li {
     position: static;
     display: inline-block;
     color: #fff;
     width: auto;
     vertical-align: top;
 }

 #c_portalResIntro_category-15893484168462789 .menu-slide {
     z-index: -1;
     position: absolute;
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     bottom: 0px;
     display: none;
     transition: 0.5s cubic-bezier(0.21, 0.8, 0.31, 1.21) 0s;
 }

 #c_portalResIntro_category-15893484168462789 .swiper-container .swiper-notification {
     position: absolute;
     left: 0px;
     top: 0px;
     pointer-events: none;
     opacity: 0;
     z-index: -1000;
 }

 @media screen and (min-width: 769px) {
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a:hover {
         color: #ffffff;
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
 }

 @media screen and (max-width: 1400px) {
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a {
         padding: 0px 30px;
     }
 }

 @media screen and (max-width: 1200px) {
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a {
         padding: 0px 25px;
         font-size: 14px;
     }
 }

 @media screen and (max-width: 1024px) {
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a {
         padding: 0px 10px;
         font-size: 14px;
     }
     #c_portalResIntro_category-15893484168462789 .menu-slide {
         display: none;
     }
 }

 @media screen and (max-width: 768px) {
     #c_portalResIntro_category-15893484168462789 .NavList_a1 ul {
         text-align: left;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         font-size: 0;
     }
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a {
         padding: 0px 20px;
         font-size: 14px;
         height: 62px;
         line-height: 62px;
     }
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a:hover {
         color: #ffffff;
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
     #c_portalResIntro_category-15893484168462789 .NavList_a1 a:active {
         color: #ffffff;
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
 }

 #c_portalResIntro_category-15893484168462789 {
     width: 94%;
     max-width: 1440px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #c_portalResProduct_list-15960020206381449 .p_Product {
     width: calc((100% - 0px)/4);
 }

 #c_portalResProduct_list-15960020206381449 .p_CommonSummaryBoxA {
     text-align: center;
 }

 #c_portalResProduct_list-15960020206381449 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #c_portalResProduct_list-15960020206381449>div {
     animation-fill-mode: both;
 }

 #c_portalResProduct_list-15960020206381449 .p_page .pre .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResProduct_list-15960020206381449 .p_page .next .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResProduct_list-15960020206381449 .p_more .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResProduct_list-15960020206381449 .p_loading .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResProduct_list-15960020206381449 {
     width: 96%;
     max-width: 1460px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 2%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_fimgbox-1558603140918 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_fimgbox-1558603140918>div {
     animation-fill-mode: both;
 }

 @media only screen and (max-width: 768px) {
     #w_fimgbox-1558603140918 .w_fimg-000 .p_box {
         width: 200px;
         margin: 0 auto;
     }
     #w_fimgbox-1558603140918 .w_imgbox {
         width: 140%;
         margin-left: -20%;
     }
 }

 #w_fimg-1595993846062 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_fimg-1595993846062>div {
     animation-fill-mode: both;
 }

 #w_grid-1587699903847 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_grid-1587699903847>div {
     animation-fill-mode: both;
 }

 #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0px;
     clear: left;
 }

 #w_grid-1587699903847>div>.p_gridbox>.p_gridCell>.reset_style:nth-child(1) span {
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     background-clip: border-box;
     -webkit-background-clip: text;
     color: transparent;
 }

 @media only screen and (max-width: 768px) {
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell {
         margin-bottom: 0rem;
         margin-top: 0rem;
         margin-left: 0px;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(1) {
         display: none;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2) {
         display: none;
     }
 }

 @media only screen and (min-width: 769px) {
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell {
         margin-bottom: 2rem;
         margin-top: 2rem;
         margin-left: 0px;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2n+0) {
         width: 50%;
         margin-left: 0px;
         margin-right: 0px;
         clear: none;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
         margin-left: 0px;
         clear: left;
         margin-right: 0px;
         width: 50%;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2n) {
         margin-right: 0px;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell {
         margin-bottom: 0rem;
         margin-top: 0rem;
         margin-left: 0;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2n+0) {
         width: 50%;
         margin-left: 0;
         margin-right: 0;
         clear: none;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
         margin-left: 0;
         clear: left;
         margin-right: 0;
         width: 50%;
     }
     #w_grid-1587699903847>div>.p_gridbox>.p_gridCell:nth-child(2n) {
         margin-right: 0;
     }
 }

 #w_grid-1587699903847 span {
     font-family: z1 !important;
 }

 #w_fimg-1587699903873 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_fimg-1587699903873>div {
     animation-fill-mode: both;
 }

 #w_grid-1589348402598>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0;
     clear: left;
 }

 @media only screen and (max-width: 768px) {
     #w_grid-1589348402598>div>.p_gridbox {
         background: #f6f6f6;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 #w_grid-1558603327360>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0;
     clear: left;
 }

 @media only screen and (max-width: 768px) {}

 @media only screen and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 #w_fimgbox-1558603140918 {
     width: 100%;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_fimg-1595993846062 {
     width: auto;
     max-width: 347px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 50px;
     margin-top: 10%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_grid-1587699903847 {
     width: 94%;
     max-width: 1440px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_common_text-1587699903867 {
     width: auto;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 25px;
     margin-left: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_fimg-1587699903873 {
     width: 100%;
     max-width: 387px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_grid-1589348402598 {
     width: 100%;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_grid-1558603327360 {
     width: 100%;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }