 .e_ContentMajorStyleBox-001 {
     width: 100%;
     height: auto;
     width-uint: %;
 }

 .e_ContentMajorStyleBox-001 .stylebox_link {
     color: #666666;
     font-size: 14px;
     height: inherit;
     display: table;
     padding: 0 15px;
     border-width: 0px;
     float: right;
     vertical-align: middle;
     margin-right: 15px;
 }

 .e_ContentMajorStyleBox-001 .stylebox_top {
     width: auto;
     height: 40px;
     background-color: rgba(101, 190, 186, 1);
 }

 .e_ContentMajorStyleBox-001 .title_icon {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     margin-right: 10px;
     font-size: medium;
 }

 .e_ContentMajorStyleBox-001 .title_icon::before {
     content: "";
 }

 .e_ContentMajorStyleBox-001 .title_main {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-weight: normal;
     font-size: 16px;
     max-width: 600px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .e_ContentMajorStyleBox-001 .title_sub {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-size: 14px;
     font-weight: normal;
     margin-left: 10px;
 }

 .e_ContentMajorStyleBox-001 .stylebox_title {
     display: inline-block;
     width: auto;
     height: inherit;
     background-color: rgba(101, 190, 186, 1);
     padding-left: 15px;
     padding-right: 15px;
     font-size: 0;
     vertical-align: bottom;
     white-space: nowrap;
     padding-right: 22px;
     vertical-align: top;
 }

 .e_ContentMajorStyleBox-001 .stylebox_link a {
     color: inherit;
     display: table-cell;
     vertical-align: middle;
 }

 .e_ContentMajorStyleBox-001 .link_icon {
     display: inline-block;
     margin-left: 5px;
 }

 .e_ContentMajorStyleBox-001 .link_icon::before {
     content: '\e6af';
 }

 .e_ContentMajorStyleBox-001 .stylebox_top_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_ContentMajorStyleBox-001 .stylebox_content {
     border-style: solid;
     border-width: 1px;
     border-color: #f0f0f0;
     width: 100%;
     width-uint: %;
 }

 .e_ContentMajorStyleBox-001 .stylebox_bottom_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_IndexOrdinaryStyleBox-001 {
     width: 100%;
     height: auto;
     width-uint: %;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_top {
     background-color: transparent;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link {
     color: #666666;
     font-size: 14px;
     display: table;
     height: inherit;
     border-width: 0;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link:hover {
     color: rgba(101, 190, 186, 1);
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link:active {
     color: rgba(101, 190, 186, 1);
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_top {
     width: auto;
     height: 40px;
 }

 .e_IndexOrdinaryStyleBox-001 .title_icon {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     margin-right: 10px;
     font-size: medium;
 }

 .e_IndexOrdinaryStyleBox-001 .title_icon::before {
     content: "";
 }

 .e_IndexOrdinaryStyleBox-001 .title_main {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-weight: normal;
     font-size: 16px;
     max-width: 600px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .e_IndexOrdinaryStyleBox-001 .title_sub {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-size: 14px;
     font-weight: normal;
     margin-left: 10px;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_title {
     display: inline-block;
     width: auto;
     height: inherit;
     background-color: rgba(101, 190, 186, 1);
     padding-left: 15px;
     padding-right: 15px;
     font-size: 0;
     vertical-align: bottom;
     white-space: nowrap;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link {
     float: right;
     vertical-align: middle;
     margin-right: 15px;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_link a {
     color: inherit;
     display: table-cell;
     vertical-align: middle;
 }

 .e_IndexOrdinaryStyleBox-001 .link_icon {
     display: inline-block;
     margin-left: 5px;
 }

 .e_IndexOrdinaryStyleBox-001 .link_icon::before {
     content: '\e6af';
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_top_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_content {
     border-style: solid;
     border-width: 1px;
     border-color: #f0f0f0;
     width: 100%;
     height: calc(100% - 48px);
     width-uint: %;
 }

 .e_IndexOrdinaryStyleBox-001 .stylebox_bottom_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_SideMajorStyleBox-001 {
     width: 100%;
     height: auto;
     width-uint: %;
 }

 .e_SideMajorStyleBox-001 .stylebox_link {
     color: #666666;
     font-size: 14px;
     display: table;
     height: inherit;
     border-width: 0;
     float: right;
     vertical-align: middle;
     margin-right: 15px;
 }

 .e_SideMajorStyleBox-001 .stylebox_top {
     width: auto;
     height: 40px;
     background-color: rgba(101, 190, 186, 1);
 }

 .e_SideMajorStyleBox-001 .title_icon {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     margin-right: 10px;
     font-size: medium;
 }

 .e_SideMajorStyleBox-001 .title_icon::before {
     content: "";
 }

 .e_SideMajorStyleBox-001 .title_main {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-weight: normal;
     font-size: 16px;
     max-width: 600px;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }

 .e_SideMajorStyleBox-001 .title_sub {
     display: inline-block;
     vertical-align: middle;
     line-height: 40px;
     color: rgba(255, 255, 255, 1);
     font-size: 14px;
     font-weight: normal;
     margin-left: 10px;
 }

 .e_SideMajorStyleBox-001 .stylebox_title {
     display: inline-block;
     width: auto;
     height: inherit;
     background-color: rgba(101, 190, 186, 1);
     padding-left: 15px;
     padding-right: 15px;
     font-size: 0;
     vertical-align: bottom;
     white-space: nowrap;
 }

 .e_SideMajorStyleBox-001 .stylebox_link a {
     color: inherit;
     display: table-cell;
     vertical-align: middle;
 }

 .e_SideMajorStyleBox-001 .link_icon {
     display: inline-block;
     margin-left: 5px;
 }

 .e_SideMajorStyleBox-001 .link_icon::before {
     content: '\e6af';
 }

 .e_SideMajorStyleBox-001 .stylebox_top_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .e_SideMajorStyleBox-001 .stylebox_content {
     border-style: solid;
     border-width: 1px;
     border-color: #f0f0f0;
     width: 100%;
     width-uint: %;
 }

 .e_SideMajorStyleBox-001 .stylebox_bottom_line {
     height: 1px;
     background-color: rgba(240, 240, 240, 1);
 }

 .c_portalResNews_category-01001 .p_image {
     width: 30px;
     height: 30px;
     display: inline-block;
     vertical-align: middle;
     margin-right: 5px;
     margin-top: 6px;
 }

 .c_portalResNews_category-01001 .p_image>img {
     width: 100%;
     height: 100%;
 }

 @media only screen and (max-width: 768px) {}

 @media only screen and (min-width: 769px) {
     .c_portalResNews_category-01001 .p_btn-show,
     .c_portalResNews_category-01001 .p_btn-hide {
         display: none;
     }
     .c_portalResNews_category-01001 {
         height: auto;
         width: 280px;
         overflow: visible;
     }
     .c_portalResNews_category-01001 .p_category {
         height: 100%;
         width: 100%;
         position: relative;
     }
     .c_portalResNews_category-01001 .p_categoryBox .p_linkBox {
         width: 100%;
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: -moz-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         padding: 10px;
     }
     .c_portalResNews_category-01001 .p_categoryBox .p_title {
         height: auto;
         width: auto;
         -webkit-flex: 1;
         -moz-flex: 1;
         -ms-flex: 1;
         flex: 1;
         display: block;
         -moz-box-flex: 1;
         -webkit-box-flex: 1;
         box-flex: 1;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }
     .c_portalResNews_category-01001 .p_categoryBtn {
         display: inline-block;
         vertical-align: middle;
         background-color: rgba(255, 255, 255, 0);
         border-color: rgba(255, 255, 255, 0);
         border-style: solid;
         border-width: 0;
         height: auto;
         width: 30px;
         padding: 0;
         position: static;
         text-align: center;
         transform: rotate(270deg);
     }
     .c_portalResNews_category-01001 .p_linkBox .iconfont:before {
         content: '';
     }
     .c_portalResNews_category-01001 .p_linkBox .icon-arrow_up:before {
         content: '\e6c9';
     }
     .c_portalResNews_category-01001 .p_linkBox .icon-arrow_down:before {
         content: '\e6c9';
     }
     .c_portalResNews_category-01001 .p_categoryBox .p_parentBox {
         position: relative;
     }
     .c_portalResNews_category-01001 .p_categoryBox .p_parentBox .p_parentBox .p_linkBox {
         border-bottom: 1px solid #f3f3f4;
         box-shadow: 1px 1px 2px #f3f3f4;
     }
     .c_portalResNews_category-01001 .p_parentBox:last-child .p_linkBox {
         border-bottom: 0 none;
     }
     .c_portalResNews_category-01001 .p_categoryBox .slideOut {
         position: absolute;
         left: 100%;
         top: 0;
         width: 100%;
         height: auto;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 .w_fimgbox-001 {
     width: 100%;
     height: auto;
     min-height: 200px;
     margin: 0 auto;
 }

 .w_fimgbox-001 .w_imgbox {
     width: 100%;
     height: 100%;
     position: relative;
     min-height: inherit;
 }

 .w_fimgbox-001 .w_imgbox>img {
     width: 100%;
     height: auto;
 }

 .w_fimgbox-001 .w_imgbox>.p_contentbox {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
 }

 .w_fimg-000 .p_title {
     display: inline-table;
     margin: 0;
     min-width: 37px;
     padding: 0;
     color: rgba(51, 51, 51, 1);
     font-size: 16px;
     font-weight: 400;
     cursor: pointer;
 }

 .w_fimg-000 .p_title .font {
     vertical-align: middle;
     line-height: 21px;
 }

 .w_fimg-000 .p_title:hover {
     color: rgba(87, 177, 173, 1);
 }

 .w_fimg-000 .p_title:active {
     color: rgba(69, 165, 161, 1);
 }

 .w_fimg-000 .p_title .iconfont:before {
     display: inline-block;
     content: "";
 }

 .w_fimg-000 {
     position: relative;
     width: 100%;
     height: auto;
     min-height: 200px;
 }

 .w_fimg-000 .animated {
     width: 100%;
     height: 100%;
     position: relative;
     min-height: inherit;
 }

 .w_fimg-000 .font {
     white-space: nowrap;
 }

 .w_fimg-000 .p_link001 {
     width: 100%;
     height: 100%;
 }

 .w_fimg-000 .p_link002 {
     width: 100%;
     height: 30px;
 }

 .w_fimg-000 .p_box {
     width: 100%;
     height: 100%;
     text-align: center;
     position: static;
 }

 .w_fimg-000 .p_dimage {
     height: inherit;
     overflow: hidden;
     font-size: 0;
 }

 .w_fimg-000 .e_image:hover:after {
     background: transparent;
 }

 .w_fimg-000 .p_dimage:empty {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     background: #f2f2f2 url(/img/camera.png?tenantId=199931&viewType=1&v=1612235685000) no-repeat center;
 }

 .w_grid-001 {
     margin-left: auto;
     margin-right: auto;
     max-width: 1180px;
     min-height: 12rem;
     width: 100%;
 }

 .w_grid-001>.w_grid {
     width: 100%;
     position: relative;
 }

 .w_grid-001>div>.p_gridbox {
     width: 100%;
     overflow: hidden;
     position: static;
 }

 .w_grid-001>div>.p_gridbox>.p_gridCell {
     float: left;
     position: static;
 }

 .w_grid-001>div>.p_gridbox>.p_gridCell:not(:empty):before {
     content: '';
     height: 0.1px;
     display: block;
 }

 .w_grid-001>div>.p_gridbox>.p_gridCell:first-child {
     margin-left: 0;
     clear: left;
 }

 #w_grid-001>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
     margin-left: 0;
     clear: left;
 }

 @media only screen and (max-width: 768px) {
     .w_grid-001>div>.p_gridbox>.p_gridCell {
         width: 100%;
         margin-left: 0;
         margin-top: 0rem;
         margin-bottom: 0rem;
     }
 }

 @media only screen and (min-width: 769px) {
     .w_grid-001>div>.p_gridbox>.p_gridCell {
         width: 49.5%;
         margin-left: 1%;
         margin-top: 0.6rem;
         margin-bottom: 0.6rem;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 .w_grid-000 {
     margin-left: auto;
     margin-right: auto;
     min-height: 12rem;
     width: 100%;
 }

 .w_grid-000>.w_grid {
     width: 100%;
     position: relative;
 }

 .w_grid-000>div>.p_gridbox {
     width: 100%;
     overflow: hidden;
     position: static;
 }

 .w_grid-000>div>div>.p_gridCell {
     float: left;
     position: static;
 }

 .w_grid-000>div>div>.p_gridCell:not(:empty):before {
     content: '';
     height: 0.1px;
     display: block;
 }

 .w_grid-000>.w_grid.signal {
     min-height: inherit;
 }

 .w_grid-000>.w_grid.signal>.p_gridbox {
     min-height: inherit;
 }

 .w_grid-000>.w_grid.signal>.p_gridbox>.p_gridCell {
     min-height: inherit;
 }

 .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
     margin-left: 0;
     clear: left;
 }

 #w_grid-000>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0;
     clear: left;
 }

 @media only screen and (max-width: 768px) {
     .w_grid-000>div>.p_gridbox>.p_gridCell {
         width: 100%;
         margin-left: 0;
         margin-top: 0rem;
         margin-bottom: 0rem;
     }
 }

 @media only screen and (min-width: 769px) {
     .w_grid-000>div>.p_gridbox>.p_gridCell:first-child {
         width: 100%;
         margin-left: 0;
         margin-top: 0rem;
         margin-bottom: 0rem;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 .c_portalResNews_list-01001 {
     min-width: 320px;
     width: 100%;
 }

 .c_portalResNews_list-01001 .p_PromptNoneData {
     width: auto;
     text-align: center
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .prompt_title .iconfont:before {
     content: ""
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .prompt_title .first {
     height: auto;
     display: table-cell;
     position: relative;
     vertical-align: middle;
     padding: 0 10px 5px 0;
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .prompt_title {
     display: inline-table;
     padding: 0 30px;
     min-height: 200px;
     height: 100%
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .prompt_title .first:before {
     content: "\e6b4"
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .prompt_title .font {
     display: table-cell;
     vertical-align: middle;
     text-align: left
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .promptbox {
     width: auto;
     height: 100%
 }

 .c_portalResNews_list-01001 .p_PromptNoneData .prompt_content {
     padding-left: 65px
 }

 .c_portalResNews_list-01001 .p_moreBtn {
     position: static;
     width: auto;
     display: inline-table;
     min-height: 29px;
     margin: 0;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     min-width: 86px;
     cursor: pointer;
     text-align: center
 }

 .c_portalResNews_list-01001 .p_moreBtn .font {
     white-space: nowrap;
     overflow: visible;
     vertical-align: middle
 }

 .c_portalResNews_list-01001 .p_moreBtn .iconfont:before {
     content: ""
 }

 @-moz-keyframes three-quarters-loader {
     0% {
         -moz-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     100% {
         -moz-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @-webkit-keyframes three-quarters-loader {
     0% {
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 @keyframes three-quarters-loader {
     0% {
         -moz-transform: rotate(0deg);
         -ms-transform: rotate(0deg);
         -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
     }
     100% {
         -moz-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         -webkit-transform: rotate(360deg);
         transform: rotate(360deg);
     }
 }

 .loading_animation {
     -moz-animation: three-quarters-loader 850ms infinite linear;
     -webkit-animation: three-quarters-loader 850ms infinite linear;
     animation: three-quarters-loader 850ms infinite linear;
     box-sizing: border-box;
     display: inline-block;
     position: relative;
     overflow: hidden;
     text-indent: -9999px;
     width: 32px;
     height: 32px;
     vertical-align: middle
 }

 .c_portalResNews_list-01001 .p_loading {
     width: 100%;
     height: 70px;
     line-height: 70px;
     text-align: center;
 }

 .c_portalResNews_list-01001 .p_loading .iconfont:before {
     content: ""
 }

 .c_portalResNews_list-01001 .p_loading .font {
     display: inline-block;
     margin-left: 20px;
     height: inherit
 }

 .c_portalResNews_list-01001 .p_moreBox {
     margin: 0 20px;
     width: auto;
     height: auto;
     padding: 0;
     overflow: hidden
 }

 .c_portalResNews_list-01001 .p_ToDetail {
     display: inline-block;
     margin: 0;
     padding: 10px 20px;
     min-width: 86px;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
 }

 a>.c_portalResNews_list-01001 .p_ToDetail:hover {
     cursor: pointer
 }

 .c_portalResNews_list-01001 .p_SummaryBox {
     margin: 0;
     width: 236px;
     height: 317px;
     padding: 0;
     overflow: hidden
 }

 .c_portalResNews_list-01001 .p_summary {
     text-align: left;
     vertical-align: top;
     word-break: normal;
 }

 .c_portalResNews_list-01001 .p_time {
     display: inline-block;
     margin: 0;
     padding: 0 5px 0 0;
     vertical-align: middle;
     text-align: left;
     white-space: nowrap;
     overflow: visible;
     line-height: 18px;
     vertical-align: top
 }

 .c_portalResNews_list-01001 .p_assist {
     margin: 0;
     width: 236px;
     height: 317px;
     padding: 0;
     overflow: hidden
 }

 .c_portalResNews_list-01001 .p_TitleBox {
     width: auto;
     height: auto;
     padding: 5px 0;
     overflow: hidden;
     vertical-align: top;
 }

 .c_portalResNews_list-01001 .p_title {
     display: inline-table;
     width: 100%;
     margin: 0;
     padding: 0;
     text-align: left;
     cursor: pointer;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 20px;
     font-weight: bold;
     color: #333;
 }

 .c_portalResNews_list-01001 .p_header {
     margin: 5px 0 0;
     width: auto;
     height: auto;
     padding: 0;
     overflow: hidden;
 }

 .c_portalResNews_list-01001 .p_content {
     margin: 0;
     width: 236px;
     height: 317px;
     padding: 0;
     overflow: hidden
 }

 .c_portalResNews_list-01001 .p_images {
     margin: 0;
     width: 260px !important;
     height: 190px !important;
     padding: 0;
     overflow: hidden;
     float: left;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     position: relative;
     vertical-align: middle;
     text-align: center;
     margin-right: 30px;
 }

 .c_portalResNews_list-01001 .p_articles {
     margin: 0;
     width: inherit;
     height: 186px;
     padding: 0;
 }

 .c_portalResNews_list-01001 .p_articles:hover .p_ToDetail {
     background: #0a459e;
     color: #fff;
 }

 .c_portalResNews_list-01001 .p_news {
     margin: 0;
     width: inherit;
     height: auto;
     padding: 0;
     overflow: hidden;
 }

 .c_portalResNews_list-01001 .p_Newslist {
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .c_portalResNews_list-01001 {
     overflow: hidden;
 }

 .c_portalResNews_list-01001 .p_content {
     width: auto;
     height: auto;
     vertical-align: top
 }

 .c_portalResNews_list-01001 .p_SummaryBox {
     width: auto;
     height: 50px;
 }

 .c_portalResNews_list-01001 .p_assist {
     width: auto;
     height: auto;
 }

 .c_portalResNews_list-01001 .p_icon {
     display: inline-block;
     vertical-align: middle;
     margin-top: 2px
 }

 .c_portalResNews_list-01001 .p_about {
     display: inline-block;
     vertical-align: middle
 }

 .c_portalResNews_list-01001 .p_articles {
     display: inline-block;
     height: auto;
     min-width: 320px;
     width: calc((100% - 0px)/1);
     padding: 15px 20px;
     overflow: hidden;
     float: left;
     padding-top: 40px;
 }

 .c_portalResNews_list-01001 .p_thumbnail {
     width: 100%;
     height: auto;
     vertical-align: middle;
     text-align: center;
     overflow: hidden
 }

 .c_portalResNews_list-01001 .p_thumbnail img {
     width: 100%;
 }

 .c_portalResNews_list-01001 .higher .p_thumbnail {
     position: absolute;
     height: 100%
 }

 .c_portalResNews_list-01001 .widther .p_thumbnail {
     position: absolute;
     height: 100%
 }

 .c_portalResNews_list-01001 .smaller .p_thumbnail {
     position: absolute;
     height: 100%
 }

 .c_portalResNews_list-01001 .p_assist {
     margin-top: 10px;
 }

 .c_portalResNews_list-01001 .p_SummaryBox {
     clear: both;
     margin-bottom: 5px;
     margin-top: 15px;
 }

 .c_portalResNews_list-01001 .p_ToDetail {
     float: left;
     position: relative;
     border-color: #0a459e !important;
     margin-top: 0px;
     color: #0a459e;
     margin-top: 20px;
     border-radius: 30px;
 }

 .c_portalResNews_list-01001 .p_summary {
     white-space: normal;
     line-height: 28px;
     font-size: 16px;
     color: #555;
 }

 .c_portalResNews_list-01001 .p_categorySummaryBox {
     overflow: hidden;
     padding: 10px;
 }

 @media only screen and (max-width: 768px) {
     .c_portalResNews_list-01001 .p_articles {
         margin-top: 10px !important;
         width: 100% !important;
     }
     .c_portalResNews_list-01001 .mp_linkUrl {
         display: block;
         height: auto;
     }
     .c_portalResNews_list-01001 .p_SummaryBox {
         display: none;
     }
     .c_portalResNews_list-01001 .p_ToDetail {
         display: none !important;
     }
     .c_portalResNews_list-01001 .mP_SummaryBox {
         clear: both;
     }
     .c_portalResNews_list-01001 .p_Information {
         display: flex;
         padding: 10px 0;
     }
     .c_portalResNews_list-01001 .p_Information li {
         flex: 1;
         height: 20px;
         overflow: hidden;
     }
     .c_portalResNews_list-01001 .p_KeyWord {
         width: 100%;
         margin-top: 5px;
     }
     .c_portalResNews_list-01001 .p_KeyWord .p_tag {
         padding: 5px 15px;
         margin-right: 10px;
         border-radius: 3px;
     }
     .c_portalResNews_list-01001 .blank {
         width: 100%;
         height: 15px;
         overflow: hidden;
     }
     .c_portalResNews_list-01001 .p_articles {
         border: none
     }
 }

 @media only screen and (min-width: 769px) {
     .c_portalResNews_list-01001 .mp_linkUrl {
         display: none;
     }
     .c_portalResNews_list-01001 .mP_SummaryBox {
         display: none;
     }
     .c_portalResNews_list-01001 .p_Information {
         display: none;
     }
     .c_portalResNews_list-01001 .p_KeyWord {
         display: none;
     }
     .c_portalResNews_list-01001 .blank {
         display: none;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @CHARSET "UTF-8";
 * {
     padding: 0;
     margin: 0;
 }

 .pagebox {
     width: 100%;
 }

 .pagebox,
 #-remove--flag {}

 body,
 #-remove--flag {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 @media only screen and (max-width: 1200px) and (min-width: 769px) {}

 @media only screen and (max-width: 1200px) and (min-width: 769px) {}

 @media only screen and (max-width: 1200px) and (min-width: 769px) {}

 #c_portalResNews_list-15687883621018146 .p_articles {
     width: calc((100% - 0px)/10);
 }

 #c_portalResNews_list-15687883621018146 .p_CommonSummaryBoxA {
     text-align: center;
 }

 #c_portalResNews_list-15687883621018146 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #c_portalResNews_list-15687883621018146>div {
     animation-fill-mode: both;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:nth-child(3n+2) {
     margin-left: 0px;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .data {
     display: none;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .newimg {
     max-height: 290px;
     overflow: hidden;
     height: 15vw;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li a {
     transition: 0.3s ease 0s;
     background: #f5f5f5;
     display: block;
     width: 100%;
     padding-bottom: 8%;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 img {
     transition: 0.5s linear 0s;
     width: 100%;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 ul {
     font-size: 0px;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li {
     font-size: 14px;
     display: inline-block;
     vertical-align: top;
     width: 32%;
     margin-left: 2%;
     padding: 10px;
     background: #f5f5f5;
     margin-bottom: 3%;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 p {
     transition: 0.3s ease 0s;
     margin-top: 5%;
     font-size: 14px;
     line-height: 1.7;
     color: #666;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     overflow: hidden;
     -webkit-box-orient: vertical;
     max-height: 65px;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .newnr {
     margin: 8% auto 0;
     width: 90%;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 b {
     transition: 0.3s ease 0s;
     color: #333;
     font-size: 16px;
     display: block;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child {
     width: 100%;
     margin-bottom: 3%;
     margin-left: 0%;
     padding: 20px;
     background: #f5f5f5;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a {
     font-size: 0px;
     background: none;
     padding-bottom: 0px;
     position: relative;
     z-index: 0;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child b {
     font-size: 20px;
     font-weight: normal;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child b:before {
     width: 15px;
     height: 3px;
     display: inline-block;
     vertical-align: middle;
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     margin-right: 15px;
     content: '';
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child p {
     line-height: 26px;
     max-height: 84px;
     margin-left: 30px;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child .newimg {
     box-shadow: 10px 10px 45px 0 rgba(0, 0, 0, 0);
     width: 39%;
     height: auto;
     max-height: 355px;
     display: inline-block;
     vertical-align: middle;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child .newnr {
     width: 54%;
     display: inline-block;
     vertical-align: middle;
     margin-left: 5%;
     margin-top: 0px;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child .newnr .i-a {
     margin-left: 30px;
     margin-top: 6%;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li a:before {
     content: '';
     position: absolute;
     width: 39%;
     height: 100%;
     background: none;
     background-size: 14px 14px;
     z-index: -1;
     top: 10%;
     left: 2.5%;
     display: none;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:not(:first-child) a:hover {
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li a:hover img {
     transform: scale(1.2);
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:not(:first-child) a:hover b {
     color: #fff;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:not(:first-child) a:hover p {
     color: #fff;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a:hover b {
     color: #ca3730;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a:hover .i-a {
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a {
     z-index: 0;
     margin: 0 auto;
     font-size: 0px;
     position: relative;
     line-height: 50px;
     width: 165px;
     height: 50px;
     display: block;
     color: #fff;
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     text-align: center;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a i {
     position: relative;
     font-family: "宋体";
     font-weight: bold;
     z-index: 0;
     padding-left: 7px;
     margin-left: 36px;
     font-style: normal;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a i:before {
     content: '';
     width: 7px;
     height: 1px;
     top: 50%;
     margin-top: -1px;
     left: 0px;
     position: absolute;
     background: #fff;
     z-index: 0;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a>* {
     transition: 0.3s ease 0s;
     display: inline-block;
     vertical-align: top;
     font-size: 14px;
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a:hover>* {
     transform: translate(0px, 0px);
 }

 #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a:hover:after {
     transform: translate(0px, 0px);
 }

 @media screen and (max-width: 1024px) {
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li {
         width: 48%;
         margin-left: 2%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .newimg {
         height: 28vw;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:nth-child(3n+2) {
         margin-left: 2%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li a:hover img {
         transform: scale(1);
     }
 }

 @media screen and (max-width: 768px) {
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child b {
         color: #333;
         font-size: 16px;
         font-weight: bold;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child b:before {
         display: none;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child {
         padding: 10px;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a {
         line-height: 9vw;
         width: 27.6vw;
         height: 9vw;
         display: none;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a:before {
         width: 100%;
         height: 100%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a:after {
         width: 100%;
         height: 100%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a>* {
         font-size: 3.3333vw;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a:hover:after {
         transform: translate(0);
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .i-a:hover>* {
         transform: translate(0);
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child .newimg {
         width: 100%;
         box-shadow: none;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child {
         width: 100%;
         margin-bottom: 5vw;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a {
         background: #f5f5f5;
         padding-bottom: 5%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li a {
         padding-bottom: 5%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .newimg {
         height: auto;
         max-height: none;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child .newimg {
         height: auto;
         max-height: none;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li {
         width: 100%;
         margin-left: 0;
         margin-bottom: 5vw;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 p {
         font-size: 14;
         max-height: none;
         line-height: 1.6;
         margin-left: 0;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child p {
         font-size: 14px;
         max-height: none;
         line-height: 1.6;
         margin-left: 0;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child .newnr {
         display: block;
         margin: 5% auto 0;
         width: 90%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 .newnr {
         display: block;
         margin: 5% auto 0;
         width: 90%;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a:hover b {
         color: #fff;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a:hover p {
         color: #fff;
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:first-child a:hover {
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
     #c_portalResNews_list-15687883621018146 #NewsList_a3 li:nth-child(2n+2) {
         margin-left: 0;
     }
 }

 #c_portalResNews_list-15687883621018146 .stylebox_top {
     height: auto;
 }

 #c_portalResNews_list-15687883621018146 .title_sub {
     position: relative;
     color: #1c3079;
     font-size: 28px;
     margin-left: 0px;
     padding-left: 15px;
 }

 #c_portalResNews_list-15687883621018146 .title_sub:before {
     content: '';
     position: absolute;
     left: 0px;
     top: 8px;
     height: 24px;
     width: 2px;
     background: #1c3079;
     z-index: 1;
 }

 #c_portalResNews_list-15687883621018146 .title_main {
     font-size: 30px;
     color: #eaa317;
 }

 #c_portalResNews_list-15687883621018146 .stylebox_content {
     padding-top: 30px;
 }

 #c_portalResNews_list-15687883621018146 .dialog {
     background: none;
 }

 #c_portalResNews_list-15687883621018146 .p_page .pre .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResNews_list-15687883621018146 .p_page .next .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResNews_list-15687883621018146 .p_more .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResNews_list-15687883621018146 .p_loading .iconfont:before {
     shadow-angle: 0px;
     shadow-distance: 0px;
     shadow-angle-ofInset: 0px;
     shadow-distance-ofInset: 0px;
 }

 #c_portalResNews_list-15687883621018146 {
     width: auto;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     margin-bottom: 60px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #c_portalResNews_category-15687883130652307 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #c_portalResNews_category-15687883130652307>div {
     animation-fill-mode: both;
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 {
     text-transform: capitalize;
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 ul {
     text-align: left;
     display: block;
     font-size: 0px;
     background: #f6f6f6;
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 a {
     position: relative;
     font-size: 15px;
     height: 80px;
     line-height: 80px;
     padding: 0px 30px;
     color: #333;
     display: block;
     transition: 0.3s ease 0s;
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 .more:after {
     content: "";
     position: absolute;
     width: 1px;
     height: 15px;
     display: block;
     background: #ccc;
     top: 50%;
     margin-top: -7px;
     right: 0px;
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 a:before {
     position: absolute;
     content: '';
     left: 50%;
     bottom: 0px;
     width: 0%;
     height: 3px;
     background-color: none;
     transition: all .3s;
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 a:hover:before {
     width: 80%;
     left: 10%;
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
 }

 #c_portalResNews_category-15687883130652307 .NavList_a1 li {
     position: static;
     display: inline-block;
     color: #fff;
     width: auto;
     vertical-align: top;
 }

 #c_portalResNews_category-15687883130652307 .menu-slide {
     z-index: -1;
     position: absolute;
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     bottom: 0px;
     display: none;
     transition: 0.5s cubic-bezier(0.21, 0.8, 0.31, 1.21) 0s;
 }

 #c_portalResNews_category-15687883130652307 .swiper-container .swiper-notification {
     position: absolute;
     left: 0px;
     top: 0px;
     pointer-events: none;
     opacity: 0;
     z-index: -1000;
 }

 @media screen and (min-width: 769px) {
     #c_portalResNews_category-15687883130652307 .NavList_a1 a:hover {
         color: #ffffff;
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
 }

 @media screen and (max-width: 1400px) {
     #c_portalResNews_category-15687883130652307 .NavList_a1 a {
         padding: 0px 30px;
     }
 }

 @media screen and (max-width: 1200px) {
     #c_portalResNews_category-15687883130652307 .NavList_a1 a {
         padding: 0px 25px;
         font-size: 14px;
     }
 }

 @media screen and (max-width: 1024px) {
     #c_portalResNews_category-15687883130652307 .NavList_a1 a {
         padding: 0px 10px;
         font-size: 14px;
     }
     #c_portalResNews_category-15687883130652307 .menu-slide {
         display: none;
     }
 }

 @media screen and (max-width: 768px) {
     #c_portalResNews_category-15687883130652307 .NavList_a1 ul {
         text-align: left;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         font-size: 0;
     }
     #c_portalResNews_category-15687883130652307 .NavList_a1 a {
         padding: 0px 20px;
         font-size: 14px;
         height: 62px;
         line-height: 62px;
     }
     #c_portalResNews_category-15687883130652307 .NavList_a1 a:hover {
         color: #ffffff;
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
     #c_portalResNews_category-15687883130652307 .NavList_a1 a:active {
         color: #ffffff;
         background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     }
 }

 #c_portalResNews_category-15687883130652307 {
     width: 94%;
     max-width: 1440px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_fimgbox-1558559999531 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_fimgbox-1558559999531>div {
     animation-fill-mode: both;
 }

 @media only screen and (max-width: 768px) {
     #w_fimgbox-1558559999531 .w_fimg-000 .p_box {
         width: 200px;
         margin: 0 auto;
     }
     #w_fimgbox-1558559999531 .w_imgbox {
         width: 140%;
         margin-left: -20%;
     }
 }

 #w_fimg-1596005540045 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_fimg-1596005540045>div {
     animation-fill-mode: both;
 }

 #w_grid-1587704821567 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_grid-1587704821567>div {
     animation-fill-mode: both;
 }

 #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0px;
     clear: left;
 }

 #w_grid-1587704821567>div>.p_gridbox>.p_gridCell>.reset_style:nth-child(1) span {
     background: linear-gradient(to right, rgba(202, 12, 28, 1), rgba(233, 52, 35, 1));
     background-clip: border-box;
     -webkit-background-clip: text;
     color: transparent;
 }

 @media only screen and (max-width: 768px) {
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell {
         margin-bottom: 0rem;
         margin-top: 0rem;
         margin-left: 0px;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(1) {
         display: none;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2) {
         display: none;
     }
 }

 @media only screen and (min-width: 769px) {
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell {
         margin-bottom: 2rem;
         margin-top: 2rem;
         margin-left: 0px;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2n+0) {
         width: 50%;
         margin-left: 0px;
         margin-right: 0px;
         clear: none;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
         margin-left: 0px;
         clear: left;
         margin-right: 0px;
         width: 50%;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2n) {
         margin-right: 0px;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell {
         margin-bottom: 0rem;
         margin-top: 0rem;
         margin-left: 0;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2n+0) {
         width: 50%;
         margin-left: 0;
         margin-right: 0;
         clear: none;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
         margin-left: 0;
         clear: left;
         margin-right: 0;
         width: 50%;
     }
     #w_grid-1587704821567>div>.p_gridbox>.p_gridCell:nth-child(2n) {
         margin-right: 0;
     }
 }

 #w_grid-1587704821567 span {
     font-family: z1 !important;
 }

 #w_fimg-1587704821579 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_fimg-1587704821579>div {
     animation-fill-mode: both;
 }

 #w_grid-1589352188535>div>.p_gridbox>.p_gridCell:nth-child(n+1) {
     margin-left: 0;
     clear: left;
 }

 @media only screen and (max-width: 768px) {
     #w_grid-1589352188535>div>.p_gridbox {
         background: #f6f6f6;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {}

 #w_grid-1568788360049>div>.p_gridbox {
     overflow: visible;
 }

 #w_grid-1568788360049 .p_MatteIcon .iconfont:before {
     content: '\e602';
 }

 #w_grid-1568788360049>div {
     animation-fill-mode: both;
 }

 #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(2n+1) {
     margin-left: 0px;
     clear: left;
 }

 @media only screen and (max-width: 1480px) {
     #w_grid-1568788360049>div>.p_gridbox {
         width: 94% !important;
         margin-left: auto;
         margin-right: auto;
     }
 }

 @media only screen and (max-width: 768px) {
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell {
         margin-bottom: 1rem;
         margin-top: 1rem;
         margin-left: 0px;
     }
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
         width: 100%;
         margin-left: 0px;
         margin-right: 0px;
         clear: none;
     }
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(1n) {
         margin-right: 0px;
     }
 }

 @media only screen and (min-width: 769px) {
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell {
         margin-bottom: 3rem;
         margin-top: 3rem;
         margin-left: 0%;
     }
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
         width: 100%;
         margin-left: 0px;
         margin-right: 0px;
         clear: none;
     }
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(1n) {
         margin-right: 0px;
     }
 }

 @media only screen and (max-width: 1024px) and (min-width: 769px) {
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell {
         margin-bottom: 2rem;
         margin-top: 2rem;
         margin-left: 0%;
     }
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(1n+0) {
         width: 100%;
         margin-left: 0;
         margin-right: 0;
         clear: none;
     }
     #w_grid-1568788360049>div>.p_gridbox>.p_gridCell:nth-child(1n) {
         margin-right: 0;
     }
 }

 #w_fimgbox-1558559999531 {
     width: 100%;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_fimg-1596005540045 {
     width: auto;
     max-width: 345px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 50px;
     margin-top: 10%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_grid-1587704821567 {
     width: 94%;
     max-width: 1440px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_common_text-1587704821575 {
     width: auto;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 25px;
     margin-left: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_fimg-1587704821579 {
     width: 100%;
     max-width: 387px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: 0px;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_grid-1589352188535 {
     width: 100%;
     max-width: none;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }

 #w_grid-1568788360049 {
     width: 94%;
     max-width: 1440px;
     min-width: 0px;
     height: auto;
     max-height: none;
     min-height: 0px;
     margin-top: 0px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 0px;
     padding-top: 0px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
 }